.form-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 50vw;

	.name-email-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 50%;
		padding: 0px 30px;
		gap: 10px;
	}
	.comment-question-wrapper {
		display: flexbox;
		height: 50vh;
		width: 50vw;
	}

	.btn-wrapper {
		display: flex;
		justify-content: start;
		margin-left: 250px;

		.submitbtn {
			height: 45px;
			width: 15%;
			font-size: 3em;
			color: $charcoal;
			background-color: $choco;

			&:hover {
				background-color: $olive;
				color: $tan;
			}
		}
	}
}
