html {
	font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	font-family: "Times New Roman", Times, serif;
}

body {
	font-weight: normal;
	background-color: navy;
	color: beige;
}

.app {
	display: grid;
	justify-items: center;
}
