.about-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	// height: 100vh;
	border-radius: 5px;
	background-color: slategray;
	color: navy;
	// width: 100vw;
	padding: 5px;

	.leftside-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
	}

	.rightside-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-radius: 5px;
		align-items: center;

		.title-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 25px;
			padding: 0;

			h2 {
				font-size: 3rem;
				font-weight: 700;
			}
		}

		.info-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 5px 25px;
			margin: 0;

			.about-us-text {
				font-size: 2.5rem;
				letter-spacing: 1px;
				text-align: center;
			}
		}
	}
}

@media (min-width: 0px) and (max-width: 576px) {
	.about-wrapper {
		grid-template-columns: 1fr;

		.leftside-wrapper {
			height: 250px;
		}

		.rightside-wrapper {
			.title-wrapper {
				h2 {
					font-size: 2rem;
					font-weight: 700;
				}
			}

			.info-wrapper {
				.about-us-text {
					font-size: 1.75rem;
				}
			}
		}
	}
}
