.contact-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: calc(100vh - 30vh);
	border-radius: 5px;
	background-color: slategray;
	color: navy;
	width: 100vw;

	.leftside-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
		// width: 50vw;
		// height: calc(100vh - 30vh);
	}

	.rightside-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-radius: 5px;
		align-items: center;
		// width: 50vw;
		gap: 20px;

		h2 {
			font-size: 2rem;
			font-weight: 600;
		}

		.location-wrapper {
			display: flex;
			gap: 7px;
			justify-content: center;
			align-items: center;

			.location-icon {
				font-size: 2em;
			}
			.location-text {
				a {
					font-size: 1.25rem;
					text-decoration: none;
					color: beige;
					&:hover {
						color: navy;
					}
				}
			}
		}

		.fbgroup-info {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 7px;

			.fbgroup-icon {
				font-size: 2em;
			}
			.fbgroup-link {
				a {
					font-size: 1.25rem;
					text-decoration: none;
					color: beige;
					&:hover {
						color: navy;
					}
				}
			}
		}
		.etsygroup-info {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 7px;

			.etsygroup-icon {
				font-size: 2em;
			}
			.etsygroup-link {
				a {
					font-size: 1.25rem;
					text-decoration: none;
					color: beige;
					&:hover {
						color: navy;
					}
				}
			}
		}
	}
}

@media (min-width: 0px) and (max-width: 576px) {
	.contact-wrapper {
		grid-template-columns: 1fr;

		.leftside-wrapper {
			background-size: cover;
		}
	}
}
