.home-page-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	gap: 3px;
	.title-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-size: 3rem;
		margin-top: 4px;

		.select-options {
			label {
				font-size: 2rem;
				margin-right: 10px;
			}

			select {
				text-align: center;
				font-size: 2rem;
				width: 150px;

				option {
					font-size: 1.5rem;
				}
			}
		}
	}
	.column-wrapper {
		display: grid;
		grid-template-columns: 1fr;
		margin-top: 15px;
		width: 99vw;

		.right-column {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			width: 100vw;
		}
	}
}

@media screen and (min-width: 0px) and (max-width: 454px) {
	.home-page-wrapper {
		.title-wrapper {
		}
		.column-wrapper {
			display: grid;
			grid-template-columns: 1fr;
			margin-top: 5px;
			gap: 10px;
			// width: 99vw;

			.right-column {
				display: grid;
				grid-template-columns: 1fr;
				// width: 75vw;
			}
		}
	}
}

@media screen and (min-width: 455px) and (max-width: 679px) {
	.home-page-wrapper {
		.title-wrapper {
		}
		.column-wrapper {
			display: grid;
			grid-template-columns: 1fr;
			margin-top: 5px;
			gap: 10px;
			// width: 99vw;

			.right-column {
				display: grid;
				grid-template-columns: 1fr 1fr;
				// width: 75vw;
			}
		}
	}
}

@media screen and (min-width: 680px) and (max-width: 1149px) {
	.home-page-wrapper {
		.title-wrapper {
		}
		.column-wrapper {
			display: grid;
			grid-template-columns: 1fr;
			margin-top: 5px;
			gap: 10px;
			// width: 99vw;

			.right-column {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				// width: 75vw;
			}
		}
	}
}
