.home-page-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	gap: 3px;
	.title-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		margin-top: 4px;
	}
	.column-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-top: 5px;
		position: relative;
		width: 99vw;
		.left-column {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			// position: fixed;
			gap: 3px;
			width: 10vw;
			.btn {
				height: 30px;
				width: 110px;
				background-color: beige;
				color: navy;
				transition: 0.5s ease-in-out;
				font-size: 1.5rem;
				padding: 2px 5px;

				&:hover {
					background-color: slategray;
					color: tan;
				}
			}
		}

		.right-column {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			width: 75vw;
		}
	}
}

@media screen and (min-width: 0px) and (max-width: 495px) {
	.home-page-wrapper {
		.title-wrapper {
		}
		.column-wrapper {
			display: grid;
			grid-template-columns: 1fr;
			margin-top: 5px;
			// width: 99vw;
			.left-column {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				// position: fixed;
				gap: 3px;
				// width: 10vw;
				.btn {
					height: 15px;
					width: 50px;
					background-color: beige;
					color: navy;
					transition: 0.5s ease-in-out;
					font-size: 1rem;
					padding: 2px 5px;

					&:hover {
						background-color: slategray;
						color: tan;
					}
				}
			}

			.right-column {
				display: grid;
				grid-template-columns: 1fr;
				// width: 75vw;
			}
		}
	}
}

@media screen and (min-width: 495px) and (max-width: 890px) {
	.home-page-wrapper {
		.title-wrapper {
		}
		.column-wrapper {
			display: grid;
			grid-template-columns: 1fr 1fr;
			margin-top: 5px;
			// width: 99vw;
			.left-column {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				// position: fixed;
				gap: 3px;
				width: 85px;
				.btn {
					height: 22px;
					width: 75px;
					background-color: beige;
					color: navy;
					transition: 0.5s ease-in-out;
					font-size: 1.25rem;
					padding: 2px 5px;

					&:hover {
						background-color: slategray;
						color: tan;
					}
				}
			}

			.right-column {
				display: grid;
				grid-template-columns: 1fr 1fr;
				// width: 75vw;
			}
		}
	}
}
